<div class="container app" id="conteinerForm">

    <div class="row">
        <div class="col-sm-10">
            <h1 class="text-left">
                {{ titulo }}
            </h1>
        </div>

        <div class="col-sm-4">
            
        </div>
    </div>

    <br/>


    <div class="row">
        <form style="width: 300px;" [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" name="nombre"           placeholder="Nombre"            #nombre          formControlName="nombreInput">
                <div class="error" *ngIf="signupForm.get('nombreInput')!.hasError('required') && signupForm.get('nombreInput')!.touched">Es necesario colocar el nombre</div><br/>

                <input type="text" class="form-control" name="fecha"            placeholder="fecha"             #fecha           formControlName="fechaInput">
                <div class="error" *ngIf="signupForm.get('fechaInput')!.hasError('required') && signupForm.get('fechaInput')!.touched">Es necesario colocar la fecha</div><br/>

                <input type="text" class="form-control" name="ascendencia"      placeholder="ascendencia"       #ascendencia     formControlName="ascendenciaInput">
                <div class="error" *ngIf="signupForm.get('ascendenciaInput')!.hasError('required') && signupForm.get('ascendenciaInput')!.touched">Es necesario colocar la fecha</div><br/>
                
                <button [disabled]="signupForm.invalid" class="btn btn-primary" type="submit" (click)="ingresarEstudiante(nombre.value, fecha.value, ascendencia.value)">Ingresar Estudiante</button>
              </div>
            </div>
        
            
        
        </form>


    </div>

    <br/>

    <div class="row">
        
        <div class="col-sm-8">
            <h2>Registros</h2>
            <table class="table table-bordered"> 

                <thead>

                    <tr>
                        <th style="color: white;">Nombre</th>
                        <th style="color: white;">Fecha de Nacimiento</th>
                        <th style="color: white;">Ascendencia</th>
                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor="let estudiante of estudiantes; let i = index;">
                        <td style="color: white;">{{estudiante.nombre}}</td>
                        <td style="color: white;">{{estudiante.fecha}}</td>
                        <td style="color: white;">{{estudiante.ascendencia}}</td>
                    </tr>
                    

                </tbody>

            </table>
        </div>
    </div>





  
  
  </div>







<div class="sections">
    <app-personaje></app-personaje>
    <app-profesores></app-profesores>
    <app-estudiantes></app-estudiantes>
</div>